footer {
    background-color: #473c4f;
    padding: 0px;
    text-align: center;
    color: white;
    width: 100%;
    padding: 10px;
}

footer img[id="flechaarriba"],
footer img[id="Infojobs"],
footer img[id="Twitter"],
footer img[id="Linkedin"]
{
    width: 30px;
    height: auto;
}
#volver-arriba {
    text-align: center;
}